/*---------------------------------------------------*/
/*                  Misc                            */
/*-------------------------------------------------*/
.background {
    -fx-background-color: #1d1d1d;
}

.borderPane {
    -fx-background-color: #1d1d1d;
}

.vBoxMenu {
    -fx-background-color: #282828;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #8d8d8d;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-background-color: #282828;
    -fx-border-color: #737373;
    -fx-border-width: 1;
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-highlight-fill: #512bd4;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #737373;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color: #4d4dff;
}

.refreshButton {
    -fx-padding: 5 22 5 40;
    -fx-background-image: url(../Icons/refresh.png);
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
}

.searchButton {
    -fx-padding: 5 22 5 40;
    -fx-background-image: url(../Icons/search.png);
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
}

/* Favorite List ComboBox */
.combo-box {
    -fx-background-color: #282828;
 }

 .combo-box .list-cell {
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
     -fx-font-size: 10pt;
     -fx-text-fill: #d8d8d8;
  }

.combo-box-popup .list-view {
        -fx-background-color: #1d1d1d;
        -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        -fx-font-size: 10pt;
        -fx-text-fill: #d8d8d8;
 }

.combo-box-popup .list-view .list-cell {
        -fx-background-color: #282828;
        -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        -fx-font-size: 10pt;
        -fx-text-fill: #d8d8d8;
 }

 .combo-box-popup .list-view .list-cell:hover {
         -fx-background-color: #512bd4;
  }

/*---------------------------------------------------*/
/*                  TableView Styling               */
/*-------------------------------------------------*/
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 60;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
}

.table-view .column-header .label {
    -fx-font-size: 14pt; /* Table Header Font Size */
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #d8d8d8;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
}

.table-row-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
}

.table-row-cell:filled:focused:selected {
    -fx-background-color: #512bd4;
    -fx-text-fill: #d8d8d8;
}

.table-row-cell:filled:hover {
    -fx-background-color: #262626;
}

.table-row-cell:filled:selected, .table-row-cell:filled > .table-cell:selected {
    -fx-background: #512bd4;
}

/* Install Button SearchPackage TableView */
.searchTableView .button-install {
    -fx-padding: 5 15 5 35;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;

    -fx-background-image: url(../Icons/download.png);
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20%;
}

.searchTableView .button-install:hover {
    -fx-background-color: #512bd4;
}

/* Uninstall Button InstalledPackage TableView */
.installedTableView .button-uninstall {
    -fx-padding: 5 14 5 35;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;

    -fx-background-image: url(../Icons/delete.png);
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12 center;
}

.installedTableView .button-uninstall:hover {
    -fx-background-color: #990000;
}

/* Labels SearchPackage TableView */
.table-row-cell:filled .label {
    -fx-padding: 5 15 5 35;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
}

.table-row-cell:filled .label-installed {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;

    -fx-background-image: url(../Icons/check.png);
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 13 center;
}

.table-row-cell:filled .label-ms-store {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;

    -fx-background-image: url(../Icons/msstoreIcon.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

.table-row-cell:filled .label-winget {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;

    -fx-background-image: url(../Icons/wingetIconBright.png);
    -fx-background-size: 22px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

.table-row-cell:filled {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: transparent;
}

/* Favorite CheckBox SearchPackage TableView */
.searchTableView .check-box {
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}

.searchTableView .check-box .box {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
    -fx-background-image: url(../Icons/favoriteUnchecked.png);
    -fx-background-size: 18px;
    -fx-background-repeat: no-repeat;
}

.searchTableView .check-box:selected .mark {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.searchTableView .check-box:selected .box {
    -fx-background-color: transparent;
	-fx-border-color: transparent;
    -fx-background-image: url(../Icons/favoriteChecked.png);
    -fx-background-size: 18px;
    -fx-background-repeat: no-repeat;
}

/* Progress Indicator in Tables while loading packages */
 .progress-indicator:indeterminate .segment {
     -fx-background-color: #4d4dff;
 }

/*---------------------------------------------------*/
/*             ProgressBar Splashscreen             */
/*-------------------------------------------------*/
.progress-bar {
    -fx-accent: rgba(77, 77, 255, 1);
}

.progress-bar .bar {
    -fx-padding: 10px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(38, 38, 38, 0.5);
}

/*---------------------------------------------------*/
/*          Menu Button MainWindow Left             */
/*-------------------------------------------------*/
 .menuButton {
     -fx-padding: 5 22 5 22;
     -fx-border-color: transparent;
     -fx-border-width: 0;
     -fx-background-radius: 0;
     -fx-background-color: #282828;
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
     -fx-font-size: 11.5pt;
     -fx-text-fill: #d8d8d8;
 }

 .menuButton:hover {
     -fx-background-color: #512bd4;
 }

/*---------------------------------------------------*/
/*                  Message Test                    */
/*-------------------------------------------------*/
.customDialog .dialog-pane {
  -fx-border-color: #333333;
  -fx-border-width: 1.0px;
 }

/* Costumization of The Bar where the buttons are located */
.customDialog .dialog-pane > .button-bar > .container {
  -fx-background-color: #1d1d1d;
}

.customDialog .dialog-pane > .content.label {
  -fx-padding: 0.5em 0.5em 0.5em 0.5em;
  -fx-background-color:  #282828;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 10pt;
  -fx-text-fill: white;
}

/* Costumization of DialogPane Header */
.customDialog .dialog-pane:header .header-panel {
  -fx-background-color:  #282828;
}

.customDialog .dialog-pane:header .header-panel .label {
  -fx-background-color:  #282828;
  -fx-background-radius: 10px;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 12pt;
  -fx-text-fill: white;
}

/* Costumization of Buttons */
.customDialog .dialog-pane .button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
 }

.customDialog .dialog-pane .button:hover {
    -fx-background-color: #512bd4;
 }

/* Costumization of Icons */
.customDialog .alert.warning.dialog-pane {
    -fx-graphic: url(../Icons/warning.png);
    -fx-background-color: #282828;
}

.customDialog .alert.error.dialog-pane {
    -fx-graphic: url(Icons/error.png);
    -fx-background-color: #282828;
}

.customDialog .alert.confirmation.dialog-pane {
   -fx-graphic: url(../Icons/confirmation.png);
   -fx-background-color: #282828;
}

.customDialog .alert.information.dialog-pane {
    -fx-graphic: url(../Icons/information.png);
    -fx-background-color: #282828;
}